<footer class="footer">

  <div class="footer-main">

    <div class="footer-brand">

      <span class="footer-small">
        DESDE 1930
      </span>

      <h2>
        CAL<br>
        SARDÀ
      </h2>

      <p>
        Productes de sempre, selecció acurada
        i tracte proper des de 1930.
      </p>

    </div>


    <div class="footer-column">

      <span>NAVEGACIÓN</span>

      <a [routerLink]="['/']" [fragment]="'inicio'">Inici</a>
      <a [routerLink]="['/historia']">Història</a>
      <a [routerLink]="['/botiga-en-linia']">Botiga en línia</a>
      <a [routerLink]="['/galeria']">Galeria</a>
      <a [routerLink]="['/contacte']">Contacte</a>
      <a [routerLink]="['/faq']">Preguntes freqüents</a>
      <a [routerLink]="['/blog']">Blog</a>
      <a [routerLink]="['/newsletter-184400']">Newsletter</a>
      <a [routerLink]="['/descobreix-el-territori']">Descobreix el territori</a>
      <a [routerLink]="['/lots-per-a-empreses']">Lots per a empreses</a>
      <a [routerLink]="['/lots-i-cistelles-gurmet']">Lots i cistelles gurmet</a>

    </div>


    <div class="footer-column">

      <span>CONTACTO</span>

      <p>
        Carrer Marina, 237<br>
        08013 Barcelona
      </p>

      <p>
        932 32 55 08
      </p>

      <p>
        sarda@calsarda.com
      </p>

    </div>


    <div class="footer-column">

      <span>INFORMACIÓ</span>

      <a [routerLink]="['/avis-legal']">Avís legal</a>
      <a [routerLink]="['/politica-de-privacitat']">Privacitat</a>
      <a [routerLink]="['/politica-de-cookies']">Cookies</a>
      <a [routerLink]="['/condicions-generals']">Condicions generals</a>
      <a [routerLink]="['/mapa-web']">Mapa web</a>
      <a href="https://www.instagram.com/sardabcn/" target="_blank" rel="noopener noreferrer">Instagram ↗</a>
      <a href="https://www.facebook.com/sardabcn/" target="_blank" rel="noopener noreferrer">Facebook ↗</a>

    </div>

  </div>


  <div class="footer-bottom">

    <span>
      © 2026 CAL SARDÀ
    </span>

    <span>
      BARCELONA · CATALUNYA
    </span>

    <a [routerLink]="['/']" [fragment]="'inicio'">
      VOLVER ARRIBA ↑
    </a>

  </div>

</footer>