<footer class="footer">

  <div class="footer-main">

    <div class="footer-brand">

      <span class="footer-small">
        DESDE 1930
      </span>

      <h2>
        CAL<br>
        SARDÀ
      </h2>

      <p>
        Productos de siempre, selección cuidada
        y trato cercano desde 1930.
      </p>

    </div>


    <div class="footer-column">

      <span>NAVEGACIÓN</span>

      <a [routerLink]="['/']" [fragment]="'inicio'">Inicio</a>
      <a [routerLink]="['/historia']">Historia</a>
      <a [routerLink]="['/tienda-online']">Tienda online</a>
      <a [routerLink]="['/galeria']">Galería</a>
      <a [routerLink]="['/contacto']">Contacto</a>
      <a [routerLink]="['/faq']">Preguntas frecuentes</a>
      <a [routerLink]="['/blog']">Blog</a>
      <a [routerLink]="['/boletin']">Boletín</a>
      <a [routerLink]="['/descubre-el-territorio']">Descubre el territorio</a>
      <a [routerLink]="['/lotes-para-empresas']">Lotes para empresas</a>
      <a [routerLink]="['/lotes-y-cestas-gourmet']">Lotes y cestas gourmet</a>

    </div>


    <div class="footer-column">

      <span>CONTACTO</span>

      <p>
      Calle Marina, 237<br>
        08013 Barcelona
      </p>

      <p>
        932 32 55 08
      </p>

      <p>
        sarda@calsarda.com
      </p>

    </div>


    <div class="footer-column">

      <span>INFORMACIÓ</span>

      <a [routerLink]="['/aviso-legal']">Aviso legal</a>
      <a [routerLink]="['/politica-de-privacidad']">Privacidad</a>
      <a [routerLink]="['/politica-de-cookies']">Cookies</a>
      <a [routerLink]="['/condiciones-generales']">Condiciones generales</a>
      <a [routerLink]="['/mapa-web']">Mapa web</a>
      <a href="https://www.instagram.com/sardabcn/" target="_blank" rel="noopener noreferrer">Instagram ↗</a>
      <a href="https://www.facebook.com/sardabcn/" target="_blank" rel="noopener noreferrer">Facebook ↗</a>

    </div>

  </div>


  <div class="footer-bottom">

    <span>
      © 2026 CAL SARDÀ
    </span>

    <span>
      BARCELONA · CATALUÑA
    </span>

    <a [routerLink]="['/']" [fragment]="'inicio'">
      VOLVER ARRIBA ↑
    </a>

  </div>

</footer>
