<section class="history" id="historia" appScrollReveal>

  <div class="history-number">
    1930
  </div>

  <div class="history-image">
  <img src="/images/history.jpg" alt="Historia de Cal Sardà">  </div>

  <div class="history-content">

    <p class="history-label">
      NUESTRA HISTORIA
    </p>

    <h2>
      Una historia
      <br>
      que continúa.
    </h2>

    <p class="history-text">
      Desde 1930, Cal Sardà forma parte de la historia
      gastronómica de Barcelona. Una tienda construida
      alrededor de la selección, la tradición y el gusto
      por los productos que merecen ser compartidos.
    </p>

    <a class="history-link">
      CONOCE NUESTRA HISTORIA
      <span>→</span>
    </a>

  </div>

</section>